
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=jackpot
MONGO_TIMEOUT=10s
SERVER_ADDR=:8080
ADMIN_AUTH_TOKEN="Bearer secret-admin-token"
CACHE_TTL=30s
MAX_DATE_RANGE_DAYS=366
USE_REDIS_CACHE=false
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

